[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = git@github.com:CacheboxInc/CRoaring.git
	branch = add_stats
[submodule "thirdparty/ha-lib"]
	path = thirdparty/ha-lib
	url = git@github.com:CacheboxInc/ha-lib.git
[submodule "thirdparty/vk-proto"]
	path = thirdparty/vk-proto
	url = git@github.com:CacheboxInc/vk-proto.git
