[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = git@github.com:CacheboxInc/CRoaring.git
	branch = add_stats
[submodule "thirdparty/restbed"]
	path = thirdparty/restbed
	url = git@github.com:CacheboxInc/restbed.git
[submodule "thirdparty/ha-lib"]
	path = thirdparty/ha-lib
	url = git@github.com:CacheboxInc/ha-lib.git
