[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = git@github.com:CacheboxInc/CRoaring.git
	branch = add_stats
[submodule "thirdparty/ha-lib"]
	path = thirdparty/ha-lib
	url = git@github.com:CacheboxInc/ha-lib.git
[submodule "thirdparty/vk-proto"]
	path = thirdparty/vk-proto
	url = git@github.com:CacheboxInc/vk-proto.git
[submodule "thirdparty/hyc-datapack"]
	path = thirdparty/hyc-datapack
	url = git@github.com:CacheboxInc/hyc-datapack.git
[submodule "thirdparty/cpr"]
	path = thirdparty/cpr
	url = git@github.com:CacheboxInc/cpr.git
